<section>
  <div class="modal-header text-center">
    <h3 class="modal-title" ng-show="rlCtrl.accepted">Accepted work reports</h3>
    <h3 class="modal-title" ng-show="!rlCtrl.accepted">New work reports</h3>
  </div>
  <div class="modal-body">
    <form name="workReportsSearchForm" class="panel panel-default margin-top">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-2 col-md-offset-1 margin-top ">
            <span ng-click="plCtrl.filterCriteria.sorted = 'ASC'; plCtrl.reloadTable()" uib-tooltip="Order ASC">
                <i class="glyphicon glyphicon-triangle-bottom"></i>
            </span>
            <span ng-click="plCtrl.filterCriteria.sorted = 'DESC'; plCtrl.reloadTable()" uib-tooltip="Order DESC">
                <i class="glyphicon glyphicon-triangle-top"></i>
            </span>
          </div>
          <div class="col-sm-5">
            <multi-item-select
              model="plCtrl.filterCriteria.projects"
              placeholder="cosss"
              provider="plCtrl.provideProjects(request)"
            >
            </multi-item-select>
          </div>
          <div class="btn-group" class="col-sm-3">
            <button class="btn btn-primary" ng-click="plCtrl.search()">
              <span>Search </span>
              <small><i class="glyphicon glyphicon-search"></i></small>
            </button>
          </div>
        </div>
      </div>
    </form>
      <table ng-table="rlCtrl.reportsTable"
             class="table table-bordered table-striped"
             template-pagination="custom/pager"
             style="table-layout: fixed"
      >
        <thead>
          <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-2">
            <col class="col-xs-2">
            <col class="col-xs-1">
            <col class="col-xs-5">
          </colgroup>
            <th>#</th>
            <th>Name</th>
            <th>Reported at</th>
            <th>Hours</th>
            <th>Comment</th>
            <th ng-show="!rlCtrl.accepted">Action</th>
        </thead>
        <tbody ng-show="$data.length == 0">
          <tr>
            <td colspan="7">No data available.</td>
          </tr>
        </tbody>
        <tbody>
          <tr ng-repeat="report in $data" class="text-center"
              style="word-wrap: break-word"
          >
            <td>
              {{ (params.page() - 1) * params.count() + $index + 1 }}
            </td>
            <td>{{ report.userName + " " + report.userSurName }}</td>
            <td>{{ report.date | date : "short" }}</td>
            <td>{{ report.hours }}</td>
            <td class="text-left">{{ report.coment }}</td>
            <td ng-show="!rlCtrl.accepted">
              <input type = "checkbox"
              model = "rlCtrl.accepted">


            </td>
         </tr>
        </tbody>
      </table>
  </div>
</section>
