<section>
  <div class="modal-header">
    <h3 class="modal-title" ng-show="!edCtrl.employeeId">New employee</h3>
    <h3 class="modal-title" ng-show="edCtrl.employeeId">Employee edition</h3>
  </div>
  <div class="modal-body">
    <form name="employeeForm">
      <div
        class="form-group"
        ng-class="{'has-error': employeeForm.username.$touched && employeeForm.username.$invalid}"
      >
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="username"
          ng-model="edCtrl.employee.username"
          required
          ng-minlength="2"
          ng-maxlength="32"
          ng-disabled="edCtrl.employeeId"
        />
        <span
          class="help-block"
          ng-show="employeeForm.username.$touched && employeeForm.username.$invalid"
          >Username is required and needs to have between 2 and 32
          characters.</span
        >
      </div>
      <div
        class="form-group"
        ng-class="{'has-error': employeeForm.name.$touched && employeeForm.name.$invalid}"
      >
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          placeholder="name"
          ng-model="edCtrl.employee.name"
          required
          ng-minlength="2"
          ng-maxlength="32"
        />
        <span
          class="help-block"
          ng-show="employeeForm.name.$touched && employeeForm.name.$invalid"
          >Name is required and needs to have between 2 and 32 characters.</span
        >
      </div>
      <div
        class="form-group"
        ng-class="{'has-error': employeeForm.surname.$touched && employeeForm.surname.$invalid}"
      >
        <label for="surname">Surname</label>
        <input
          type="text"
          class="form-control"
          name="surname"
          placeholder="surname"
          ng-model="edCtrl.employee.surname"
          required
          ng-minlength="2"
          ng-maxlength="32"
        />
        <span
          class="help-block"
          ng-show="employeeForm.surname.$touched && employeeForm.surname.$invalid"
          >Surname is required and needs to have between 2 and 32
          characters.</span
        >
      </div>
      <div
        class="form-group"
        ng-class="{'has-error': employeeForm.email.$touched && employeeForm.email.$invalid}"
      >
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="email"
          ng-model="edCtrl.employee.email"
          required
        />
        <span
          class="help-block"
          ng-show="employeeForm.email.$touched && employeeForm.email.$invalid"
          >Email is required and needs to be a valid email address.</span
        >
      </div>
      <div class="panel panel-default" ng-show="!edCtrl.employeeId">
        <div class="panel-body">
          <div
            class="form-group"
            ng-class="{'has-error': employeeForm.password.$touched && employeeForm.password.$invalid}"
          >
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="password"
              ng-model="edCtrl.employee.password"
              required
              ng-minlength="8"
              ng-maxlength="64"
            />
            <span
              class="help-block"
              ng-show="employeeForm.password.$touched && employeeForm.password.$invalid"
              >Password is required and needs to have between 8 and 64
              characters.</span
            >
          </div>
          <div
            class="form-group"
            ng-class="{'has-error': employeeForm.password.$touched && employeeForm.confirmPassword.$touched && edCtrl.employee.password != edCtrl.confirmPassword}"
          >
            <label for="confirmPassword">Confirm password</label>
            <input
              type="password"
              class="form-control"
              name="confirmPassword"
              placeholder="confirm password"
              ng-model="edCtrl.confirmPassword"
              required
            />
            <span
              class="help-block"
              ng-show="employeeForm.password.$touched && employeeForm.confirmPassword.$touched && edCtrl.employee.password != edCtrl.confirmPassword"
              >Passwords needs to be the same.</span
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Projects</label>
        <multi-item-select
          model="edCtrl.employee.projects"
          placeholder="projects"
          provider="edCtrl.provideProjects(request)"
        >
        </multi-item-select>
      </div>
      <div
        class="form-group"
        ng-class="{'has-error': !edCtrl.employee.supervisorId || !edCtrl.employee.supervisorName}"
      >
        <label>Supervisor</label>
        <item-select
          model="edCtrl.employee.supervisorName"
          model-id="edCtrl.employee.supervisorId"
          placeholder="supervisor"
          provider="edCtrl.provideEmployees(request)"
        >
        </item-select>
        <span
          class="help-block"
          ng-show="!edCtrl.employee.supervisorId || !edCtrl.employee.supervisorName"
          >Supervisor is required.</span
        >
      </div>
      <div class="form-group" ng-class="{'has-error': !edCtrl.employee.role}">
        <label>Role</label>
        <item-select
          model="edCtrl.employee.role"
          model-id="edCtrl.roleId"
          placeholder="role"
          provider="edCtrl.provideRoles(request)"
        >
        </item-select>
        <span class="help-block" ng-show="!edCtrl.employee.role"
          >Role is required.</span
        >
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-primary"
      type="button"
      ng-click="edCtrl.save()"
      ng-disabled="employeeForm.$invalid || !edCtrl.employee.role || !edCtrl.employee.supervisorId"
    >
      Save
    </button>
    <button class="btn btn-warning" type="button" ng-click="edCtrl.cancel()">
      Cancel
    </button>
  </div>
</section>
