<!DOCTYPE html>
<html ng-app="hourReportingSystem">
  <head>
    <meta charset="utf-8" />
    <title>Hour Reporting System</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <!-- View for adding the navigation bar -->
    <div ui-view="nav"></div>

    <div class="container">
      <!-- Main view for showing all views -->
      <div ui-view="content"></div>
    </div>

    <script type="text/ng-template" id="custom/pager">
      <div class="container pager ng-cloak">
          <div class="row">
            <div class="col-md-8  margin-top margin-bottom">
              <div class="btn-group">
                <button
                  type="button"
                  ng-class="{'active':params.count() == 10}"
                  ng-click="params.count(10)"
                  class="btn btn-default"
                >
                  10
                </button>
                <button
                  type="button"
                  ng-class="{'active':params.count() == 25}"
                  ng-click="params.count(25)"
                  class="btn btn-default"
                >
                  25
                </button>
                <button
                  type="button"
                  ng-class="{'active':params.count() == 50}"
                  ng-click="params.count(50)"
                  class="btn btn-default"
                >
                  50
                </button>
                <button
                  type="button"
                  ng-class="{'active':params.count() == 100}"
                  ng-click="params.count(100)"
                  class="btn btn-default"
                >
                  100
                </button>
              </div>
            </div>
            <div class="col-md-4 margin-top margin-bottom">
              <div class="btn-group">
                <button
                  ng-repeat="page in pages"
                  ng-click="params.page(page.number)"
                  class="btn btn-default"
                  ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                  ng-show="page.type == 'prev' || page.type == 'next'"
                  ng-switch="page.type"
                >
                  <span ng-switch-when="prev">&laquo; Previous</span>
                  <span ng-switch-when="next">Next &raquo;</span>
                </button>
              </div>
            </div>
          </div>
        </div>
    </script>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->
  </body>
</html>
