<section class="multi-item-select-input">
  <div
    ng-repeat="employee in chosenEmployees | orderBy: 'name'"
    class="margin-top margin-bottom"
  >
    <span>{{ employee.name }} </span>
    <i
      class="glyphicon glyphicon-trash"
      ng-click="deleteEmployee(employee)"
      uib-tooltip="Delete employee"
    ></i>
  </div>
  <ui-select
    ng-model="selectedEmployee.model"
    theme="bootstrap"
    ng-disabled="disabled"
    on-select="onSelected($item, $model)"
    class="multi-item-select"
  >
    <ui-select-match placeholder="{{ placeholder }}">
      {{ $select.selected.name }}</ui-select-match
    >
    <ui-select-choices
      repeat="employee in employeesList | filter: $select.search"
      refresh-delay="500"
      refresh="loadEmployeesList($select.search)"
    >
      <span ng-bind-html="employee.name | highlight: $select.search"></span>
      <small ng-show="isEmployeeMe(employee)">(me)</small>
    </ui-select-choices>
  </ui-select>
</section>
