<section>
  <div
    ng-repeat="employee in chosenEmployees | orderBy: 'name'"
    class="margin-top margin-bottom"
  >
    <div class="row">
      <div class="col-8">
        <span>{{ employee.name }}</span>
        <small ng-show="isEmployeeMe(employee)">(me)</small>
      </div>
      <div class="col-4 text-center">
        <i
          class="far fa-trash-alt"
          ng-click="deleteEmployee($index, $model)"
          uib-tooltip="Delete employee"
        ></i>
      </div>
    </div>
  </div>
  <ui-select
    ng-model="selectedEmployee.model"
    theme="bootstrap"
    ng-disabled="disabled"
    on-select="onSelected($item, $model)"
    class="multi-item-select"
  >
    <ui-select-match placeholder="{{ placeholder }}">
      {{ $select.selected.name }}</ui-select-match
    >
    <ui-select-choices
      repeat="employee in employeesList | filter: $select.search"
      refresh-delay="500"
      refresh="loadEmployeesList($select.search)"
    >
      <span ng-bind-html="employee.name | highlight: $select.search"></span>
      <small ng-show="isEmployeeMe(employee)">(me)</small>
    </ui-select-choices>
  </ui-select>
</section>
<h1>test</h1>
