<section>
  <div class="modal-header">
    <h3 class="modal-title" ng-if="!rdCtrl.reportId">
      <small><i class="glyphicon glyphicon-briefcase"></i></small
      ><span> New work report</span>
    </h3>
    <h3 class="modal-title" ng-if="rdCtrl.reportId && rdCtrl.report.editable">
      <small><i class="glyphicon glyphicon-briefcase"></i></small
      ><span> Work report edition</span>
    </h3>
    <h3 class="modal-title" ng-if="rdCtrl.reportId && !rdCtrl.report.editable">
      <small><i class="glyphicon glyphicon-briefcase"></i></small
      ><span> Work report preview</span>
    </h3>
  </div>
  <div class="modal-body">
    <form name="reportForm">
      <div class="panel panel-default" ng-if="!rdCtrl.reportId">
        <div class="panel-body">
          <label>
            <input type="checkbox" ng-model="rdCtrl.report.period" />
            Period
          </label>
          <div
            class="form-group"
            ng-class="{'has-error': reportForm.startDate.$invalid && (reportForm.startDate.$touched || reportForm.$submitted)}"
          >
            <label for="date" ng-if="rdCtrl.report.period">Start date</label>
            <label for="date" ng-if="!rdCtrl.report.period">Date</label>
            <p class="input-group" ng-if="!rdCtrl.reportId">
              <input
                type="text"
                class="form-control"
                uib-datepicker-popup
                ng-model="rdCtrl.report.startDate"
                is-open="rdCtrl.startDatePickerOpened"
                datepicker-options="rdCtrl.dateOptions"
                close-text="Close"
                placeholder="date"
                name="startDate"
                required
              />
              <span class="input-group-btn">
                <button
                  type="button"
                  class="btn btn-default"
                  ng-click="rdCtrl.openStartDatePickerModal()"
                >
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
            <span
              class="help-block"
              ng-if=" reportForm.startDate.$invalid && (reportForm.startDate.$touched || reportForm.$submitted)"
              >Report date is required.</span
            >
          </div>
          <div
            class="form-group"
            ng-class="{'has-error':  reportForm.endDate.$invalid && (reportForm.endDate.$touched || reportForm.$submitted)}"
            ng-if="rdCtrl.report.period"
          >
            <label for="endDate">End date</label>
            <p class="input-group" ng-if="!rdCtrl.reportId">
              <input
                type="text"
                class="form-control"
                uib-datepicker-popup
                ng-model="rdCtrl.report.endDate"
                is-open="rdCtrl.endDatePickerOpened"
                datepicker-options="rdCtrl.endDateOptions"
                close-text="Close"
                placeholder="date"
                name="endDate"
                required
              />
              <span class="input-group-btn">
                <button
                  type="button"
                  class="btn btn-default"
                  ng-click="rdCtrl.openEndDatePickerModal()"
                >
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
            <span
              class="help-block"
              ng-if=" reportForm.endDate.$invalid && (reportForm.endDate.$touched || reportForm.$submitted)"
              >Report end date is required.</span
            >
            <p ng-if="rdCtrl.reportId">{{ rdCtrl.report.endDate }}</p>
          </div>
        </div>
      </div>
      <div ng-if="rdCtrl.reportId">
        <label>Date</label>
        <p>{{ rdCtrl.report.date | date }}</p>
      </div>
      <div
        class="form-group"
        ng-class="{'has-error':  reportForm.hoursNumber.$invalid && (reportForm.hoursNumber.$touched || reportForm.$submitted)}"
      >
        <label for="hoursNumber">Hours number</label>
        <div
          class="input-group"
          ng-if="!rdCtrl.reportId || (rdCtrl.reportId && rdCtrl.report.editable)"
        >
          <input
            type="number"
            class="form-control"
            name="hoursNumber"
            placeholder="hours number"
            ng-model="rdCtrl.report.hoursNumber"
            required
            min="0"
            max="8"
          />
          <span class="input-group-addon">h</span>
        </div>
        <span
          class="help-block"
          ng-if=" reportForm.hoursNumber.$invalid && (reportForm.hoursNumber.$touched || reportForm.$submitted)"
          >Number of hours is required and needs to be a number between 0 and
          8.</span
        >
        <p ng-if="rdCtrl.reportId && !rdCtrl.report.editable">
          {{ rdCtrl.report.hoursNumber }}
        </p>
      </div>
      <div
        class="form-group"
        ng-class="{'has-error':  reportForm.project.$invalid && (reportForm.project.$touched || reportForm.$submitted)}"
      >
        <label>Project</label>
        <item-select
          model="rdCtrl.report.projectName"
          model-id="rdCtrl.report.projectId"
          placeholder="project"
          provider="rdCtrl.provideProjects(request)"
          ng-if="!rdCtrl.reportId"
          name="project"
          required="true"
        >
        </item-select>
        <p ng-if="rdCtrl.reportId">{{ rdCtrl.report.projectName }}</p>
        <span
          class="help-block"
          ng-if=" reportForm.project.$invalid && (reportForm.project.$touched || reportForm.$submitted)"
          >Project is required.</span
        >
      </div>
      <div class="form-group" ng-if="rdCtrl.reportId">
        <label>Employee</label>
        <p>
          {{ rdCtrl.report.userName + " " + rdCtrl.report.employeeSurname }}
        </p>
      </div>
      <div
        class="form-group"
        ng-class="{'has-error':  reportForm.comment.$invalid && (reportForm.comment.$touched || reportForm.$submitted)}"
      >
        <label for="comment">Comment</label>
        <textarea
          class="form-control"
          rows="3"
          name="comment"
          placeholder="describe what have you done..."
          ng-model="rdCtrl.report.comment"
          ng-disabled="rdCtrl.reportId && !rdCtrl.report.editable"
          required
        ></textarea>
        <span
          class="help-block"
          ng-if=" reportForm.comment.$invalid && (reportForm.comment.$touched || reportForm.$submitted)"
          >Comment is required.</span
        >
      </div>
      <label ng-if="rdCtrl.reportId">
        <input type="checkbox" ng-model="rdCtrl.report.accepted" disabled />
        Accepted
      </label>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-primary"
      type="submit"
      ng-click="rdCtrl.save(reportForm)"
      ng-if="!rdCtrl.reportId || (rdCtrl.reportId && rdCtrl.report.editable)"
      ng-disabled="reportForm.$submitted && reportForm.$invalid"
    >
      Save
    </button>
    <button class="btn btn-warning" type="button" ng-click="rdCtrl.cancel()">
      Cancel
    </button>
  </div>
</section>
