<section>
  <div class="modal-header">
    <h3 class="modal-title" ng-show="!rdCtrl.reportId">New work report</h3>
    <h3 class="modal-title" ng-show="rdCtrl.reportId">Work preview</h3>
  </div>
  <div class="modal-body">
    <form name="reportForm">
      <div class="panel panel-default" ng-show="!edCtrl.employeeId">
        <div class="panel-body">
          <label>
            <input type="checkbox" ng-model="rdCtrl.report.period" />
            Period
          </label>
          <div
            class="form-group"
            ng-class="{'has-error': reportForm.startDate.$invalid && (reportForm.startDate.$touched || reportForm.$submitted)}"
          >
            <label for="date" ng-show="rdCtrl.report.period">Start date</label>
            <label for="date" ng-show="!rdCtrl.report.period">Date</label>
            <p class="input-group" ng-show="!rdCtrl.reportId">
              <input
                type="text"
                class="form-control"
                uib-datepicker-popup
                ng-model="rdCtrl.report.startDate"
                is-open="rdCtrl.startDatePickerOpened"
                datepicker-options="rdCtrl.dateOptions"
                close-text="Close"
                placeholder="date"
                name="startDate"
                required
              />
              <span class="input-group-btn">
                <button
                  type="button"
                  class="btn btn-default"
                  ng-click="rdCtrl.openStartDatePickerModal()"
                >
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
            <span
              class="help-block"
              ng-show=" reportForm.startDate.$invalid && (reportForm.startDate.$touched || reportForm.$submitted)"
              >Report date is required.</span
            >
          </div>
          <p ng-show="rdCtrl.reportId">{{ rdCtrl.report.startDate }}</p>
          <div
            class="form-group"
            ng-class="{'has-error':  reportForm.endDate.$invalid && (reportForm.endDate.$touched || reportForm.$submitted)}"
            ng-show="rdCtrl.report.period"
          >
            <label for="endDate">End date</label>
            <p class="input-group" ng-show="!rdCtrl.reportId">
              <input
                type="text"
                class="form-control"
                uib-datepicker-popup
                ng-model="rdCtrl.report.endDate"
                is-open="rdCtrl.endDatePickerOpened"
                datepicker-options="rdCtrl.dateOptions"
                close-text="Close"
                placeholder="date"
                name="endDate"
                required
              />
              <span class="input-group-btn">
                <button
                  type="button"
                  class="btn btn-default"
                  ng-click="rdCtrl.openEndDatePickerModal()"
                >
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
            <span
              class="help-block"
              ng-show=" reportForm.endDate.$invalid && (reportForm.endDate.$touched || reportForm.$submitted)"
              >Report end date is required.</span
            >
          </div>
          <p ng-show="rdCtrl.reportId">{{ rdCtrl.report.endDate }}</p>
        </div>
      </div>
      <div
        class="form-group"
        ng-class="{'has-error':  reportForm.hoursNumber.$invalid && (reportForm.hoursNumber.$touched || reportForm.$submitted)}"
      >
        <label for="hoursNumber">Hours number</label>
        <div class="input-group" ng-show="!rdCtrl.reportId">
          <input
            type="number"
            class="form-control"
            name="hoursNumber"
            placeholder="hours number"
            ng-model="rdCtrl.report.hoursNumber"
            required
            ng-min="0"
            ng-max="8"
          />
          <span class="input-group-addon">h</span>
        </div>
        <span
          class="help-block"
          ng-show=" reportForm.hoursNumber.$invalid && (reportForm.hoursNumber.$touched || reportForm.$submitted)"
          >Number of hours is required and needs to be a number between 0 and
          8.</span
        >
      </div>
      <p ng-show="rdCtrl.reportId">{{ rdCtrl.report.hoursNumber }}</p>
      <div
        class="form-group"
        ng-class="{'has-error':  reportForm.project.$invalid && (reportForm.project.$touched || reportForm.$submitted)}"
      >
        <label>Project</label>
        <item-select
          model="rdCtrl.report.projectName"
          model-id="rdCtrl.report.projectId"
          placeholder="project"
          provider="rdCtrl.provideProjects(request)"
          disabled="rdCtrl.reportId"
          name="project"
          required="true"
        >
        </item-select>
        <span
          class="help-block"
          ng-show=" reportForm.project.$invalid && (reportForm.project.$touched || reportForm.$submitted)"
          >Project is required.</span
        >
      </div>
      <div class="form-group" ng-show="rdCtrl.reportId">
        <label>Employee</label>
        <item-select
          model="rdCtrl.report.employeeName"
          model-id="rdCtrl.report.employeeId"
          placeholder="employee"
          provider="rdCtrl.provideEmployees(request)"
        >
        </item-select>
      </div>
      <div
        class="form-group"
        ng-class="{'has-error':  reportForm.comment.$invalid && (reportForm.comment.$touched || reportForm.$submitted)}"
      >
        <label for="comment">Comment</label>
        <textarea
          class="form-control"
          rows="3"
          name="comment"
          placeholder="describe what have you done"
          ng-show="!rdCtrl.reportId"
          ng-model="rdCtrl.report.comment"
          required
        ></textarea>
        <span
          class="help-block"
          ng-show=" reportForm.comment.$invalid && (reportForm.comment.$touched || reportForm.$submitted)"
          >Comment is required.</span
        >
      </div>
      <p ng-show="rdCtrl.reportId">{{ rdCtrl.report.comment }}</p>
      <label ng-show="rdCtrl.reportId">
        <input type="checkbox" ng-model="rdCtrl.report.accepted" />
        Accepted
      </label>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-primary"
      type="submit"
      ng-click="rdCtrl.save(reportForm)"
      ng-show="!rdCtrl.reportId"
    >
      Save
    </button>
    <button class="btn btn-warning" type="button" ng-click="rdCtrl.cancel()">
      Cancel
    </button>
  </div>
</section>
