<div class="container">
  <div class="row panel panel-default">
    <div class="panel-body">
      <div class="col-lg-2 col-md-6">
        <p class="input-group">
          <input
            type="text"
            class="form-control"
            uib-datepicker-popup
            ng-model="lcCtrl.fliterCriteria.startDate"
            is-open="lcCtrl.startDatePickerOpened"
            datepicker-options="lcCtrl.startDateOptions"
            close-text="Close"
            placeholder="start date"
          />
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-default"
              ng-click="lcCtrl.openStartDatePickerModal()"
            >
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
      </div>
      <div class="col-lg-2 col-md-6">
        <p class="input-group">
          <input
            type="text"
            class="form-control"
            uib-datepicker-popup
            ng-model="lcCtrl.fliterCriteria.endDate"
            is-open="lcCtrl.endDatePickerOpened"
            datepicker-options="lcCtrl.endDateOptions"
            close-text="Close"
            placeholder="end date"
          />
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-default"
              ng-click="lcCtrl.openEndDatePickerModal()"
            >
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
      </div>
      <div class="col-lg-4 col-md-6">
        <multi-employees-select
          model="lcCtrl.fliterCriteria.employees"
          placeholder="employees"
        >
        </multi-employees-select>
      </div>
      <div class="col-lg-4 col-md-6">
        <multi-item-select
          model="lcCtrl.fliterCriteria.projects"
          placeholder="projects"
          provider="lcCtrl.provideProjects(request)"
        >
        </multi-item-select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 panel panel-default">
      <div class="panel-body">
        <button
          type="button"
          class="btn btn-primary"
          ng-click="lcCtrl.openReportModal()"
        >
          <span>Report work </span>
          <small><i class="glyphicon glyphicon-plus"></i></small>
        </button>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
          <button
            type="button"
            class="btn btn-default"
            ng-class="{'active': !lcCtrl.listViewActive}"
            ng-click="lcCtrl.toggleListViewActive()"
          >
            <span class="toggle-button-margin">Calendar View</span
            ><small><i class="glyphicon glyphicon-calendar"></i></small>
          </button>
        </div>
        <div class="btn-group" role="group">
          <button
            type="button"
            class="btn btn-default"
            ng-class="{'active': lcCtrl.listViewActive}"
            ng-click="lcCtrl.toggleListViewActive()"
          >
            <span class="toggle-button-margin">List View</span
            ><small
              ><i class="glyphicon glyphicon glyphicon-th-list"></i
            ></small>
          </button>
        </div>
      </div>
      <div
        ui-calendar="lcCtrl.uiConfig.calendar"
        class="span8 calendar report-calendar"
        ng-model="lcCtrl.reportsEvents"
        ng-show="!lcCtrl.listViewActive"
      ></div>
      <div ng-show="lcCtrl.listViewActive">
        <div
          ng-repeat="report in lcCtrl.reportsList | limitTo : lcCtrl.listViewItemsPerPage : ((lcCtrl.listViewPage - 1) * lcCtrl.listViewItemsPerPage)"
          class="panel panel-default margin-top report-list-item"
        >
          <div class="panel-body" ng-click="lcCtrl.openReportModal(report.id)">
            <div class="col-md-3 margin-top margin-bottom">
              <small><i class="glyphicon glyphicon-user"></i></small>
              <span>
                {{ report.employeeName + " " + report.employeeSurname }}
              </span>
            </div>
            <div class="col-md-3 margin-top margin-bottom">
              <small><i class="glyphicon glyphicon-time"></i></small>
              <span>
                {{ report.hoursNumber + " h" }}
              </span>
            </div>
            <div class="col-md-3 margin-top margin-bottom">
              <small><i class="glyphicon glyphicon-calendar"></i></small>
              <span>
                {{ report.date | date }}
              </span>
            </div>
            <div class="col-md-3 margin-top margin-bottom">
              <small><i class="glyphicon glyphicon-blackboard"></i></small>
              <span>
                {{ report.projectName }}
              </span>
            </div>
          </div>
        </div>
        <div
          ng-show="!lcCtrl.reportsList || lcCtrl.reportsList.length == 0"
          class="alert alert-info margin-top"
        >
          No reports available.
        </div>
        <ul
          uib-pager
          total-items="lcCtrl.reportsList.length"
          ng-model="lcCtrl.listViewPage"
          items-per-page="lcCtrl.listViewItemsPerPage"
        ></ul>
      </div>
    </div>
  </div>
</div>
