<div class="container">
  <div class="row panel panel-default">
    <div class="panel-body">
      <div class="col-lg-2 col-md-6">
        <p class="input-group">
          <input
            type="text"
            class="form-control"
            uib-datepicker-popup
            ng-model="lcCtrl.fliterCriteria.dateFrom"
            is-open="lcCtrl.dateFromPickerOpened"
            datepicker-options="lcCtrl.dateOptions"
            close-text="Close"
            placeholder="date from"
          />
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-default"
              ng-click="lcCtrl.openDateFromPickerModal()"
            >
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
      </div>
      <div class="col-lg-2 col-md-6">
        <p class="input-group">
          <input
            type="text"
            class="form-control"
            uib-datepicker-popup
            ng-model="lcCtrl.fliterCriteria.dateTo"
            is-open="lcCtrl.dateToPickerOpened"
            datepicker-options="lcCtrl.dateOptions"
            close-text="Close"
            placeholder="date to"
          />
          <span class="input-group-btn">
            <button
              type="button"
              class="btn btn-default"
              ng-click="lcCtrl.openDateToPickerModal()"
            >
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
      </div>
      <div class="col-lg-4 col-md-6">
        <multi-employees-select
          model="lcCtrl.fliterCriteria.employees"
          placeholder="employees"
        >
        </multi-employees-select>
      </div>
      <div class="col-lg-4 col-md-6">
        <multi-item-select
          model="lcCtrl.fliterCriteria.projects"
          placeholder="projects"
          provider="lcCtrl.provideProjects(request)"
        >
        </multi-item-select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 panel panel-default">
      <div class="panel-body">
        <button
          type="button"
          class="btn btn-primary"
          ng-click="lcCtrl.openReportModal()"
        >
          <span>Report work </span>
          <small><i class="glyphicon glyphicon-plus"></i></small>
        </button>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
          <button
            type="button"
            class="btn btn-default"
            ng-class="{'active': !lcCtrl.listViewActive}"
            ng-click="lcCtrl.toggleListViewActive()"
          >
            <span class="toggle-button-margin">Calendar View</span
            ><small><i class="glyphicon glyphicon-calendar"></i></small>
          </button>
        </div>
        <div class="btn-group" role="group">
          <button
            type="button"
            class="btn btn-default"
            ng-class="{'active': lcCtrl.listViewActive}"
            ng-click="lcCtrl.toggleListViewActive()"
          >
            <span class="toggle-button-margin">List View</span
            ><small
              ><i class="glyphicon glyphicon glyphicon-th-list"></i
            ></small>
          </button>
        </div>
      </div>
      <div
        ui-calendar="uiConfig.calendar"
        class="span8 calendar report-calendar"
        ng-model="eventSources"
        ng-show="!lcCtrl.listViewActive"
      ></div>
      <div ng-show="lcCtrl.listViewActive">
        <ul class="pager">
          <li class="previous">
            <button class="btn btn-default"><span>&larr;</span> Newer</button>
          </li>
          <li class="next">
            <button class="btn btn-default">Older <span>&rarr;</span></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
