<section class="container">
  <form name="employeesSearchForm" class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6 margin-bottom">
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="name"
            ng-model="elCtrl.filterCriteria.name"
          />
        </div>
        <div class="col-md-6 margin-bottom">
          <input
            type="text"
            class="form-control"
            name="surname"
            placeholder="surname"
            ng-model="elCtrl.filterCriteria.surname"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 margin-bottom">
          <multi-item-select
            model="elCtrl.filterCriteria.projects"
            placeholder="projects"
            provider="elCtrl.provideProjects(request)"
          >
          </multi-item-select>
        </div>
        <div class="col-md-6 margin-bottom">
          <input
            type="text"
            class="form-control"
            name="email"
            placeholder="email"
            ng-model="elCtrl.filterCriteria.email"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="pull-right">
            <button
              class="btn btn-primary"
              ng-click="elCtrl.openEmployeeModal()"
            >
              <span>Add Employee </span>
              <small><i class="glyphicon glyphicon-plus"></i></small>
            </button>
            <button class="btn btn-primary" ng-click="elCtrl.search()">
              <span>Search </span>
              <small><i class="glyphicon glyphicon-search"></i></small>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <table
      ng-table="elCtrl.employeesTable"
      class="table table-bordered table-striped margin-top margin-bottom"
      template-pagination="custom/pager"
    >
      <thead>
        <th>#</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Supervisor</th>
        <th>Projects</th>
        <th>Actions</th>
      </thead>
      <tbody ng-show="$data.length == 0">
        <tr>
          <td colspan="7">No data available.</td>
        </tr>
      </tbody>
      <tbody>
        <tr ng-repeat="employee in $data"
            style="word-wrap: break-word"
            class="text-center">
          <td class="text-center">
            {{ (params.page() - 1) * params.count() + $index + 1 }}
          </td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.surname }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.supervisorFullname }}</td>
          <td
            td-ul
            list="employee.projects"
            on-item-click="elCtrl.showProjectDetails(item)"
          ></td>
          <td class="text-center">
            <span
              ng-click="elCtrl.openEmployeeModal(employee.id)"
              uib-tooltip="Edit employee"
              ><i class="glyphicon glyphicon-pencil"></i
            ></span>
            <span
              ng-click="elCtrl.openEmployeeDataView(employee.id)"
              uib-tooltip="View employee stats"
            ><i class="glyphicon glyphicon-list-alt"></i
            ></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
