<div
  ng-repeat="item in chosenItems | orderBy: 'name'"
  class="margin-top margin-bottom"
>
  <span>{{ item.name }}</span
  ><button class="btn btn-danger" ng-click="deleteItem($index)">Delete</button>
</div>
<ui-select
  ng-model="selectedItem"
  theme="select2"
  ng-disabled="disabled"
  on-select="onSelected($item)"
>
  <ui-select-match placeholder="{{ placeholder }}">{{
    $select.selected.name
  }}</ui-select-match>
  <ui-select-choices
    repeat="item in itemsList | filter: $select.search"
    refresh-delay="500"
    refresh="loadItemsList($select.search)"
  >
    <div>{{ item.name | highlight: $select.search }}</div>
  </ui-select-choices>
</ui-select>
