<section>
  <div class="modal-header">
    <h3 class="modal-title" ng-show="!pdCtrl.projectId">New project</h3>
    <h3 class="modal-title" ng-show="pdCtrl.projectId">Project edition</h3>
  </div>
  <div class="modal-body">
    <form name="projectForm">
      <div
        class="form-group"
        ng-class="{'has-error': projectForm.name.$touched && projectForm.name.$invalid}"
      >
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          placeholder="name"
          ng-model="pdCtrl.project.name"
          required
          ng-minlength="2"
          ng-maxlength="32"
          ng-disabled="pdCtrl.projectId"
        />
        <span
          class="help-block"
          ng-show="projectForm.name.$touched && projectForm.name.$invalid"
          >Project name is required and needs to have between 2 and 32
          characters.</span
        >
      </div>
      <div
        class="form-group"
        ng-class="{'has-error': projectForm.description.$touched && projectForm.description.$invalid}"
      >
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          name="description"
          id="description"
          placeholder="description"
          ng-model="pdCtrl.project.description"
          required
          ng-minlength="5"
        />
        <span
          class="help-block"
          ng-show="projectForm.description.$touched && projectForm.description.$invalid"
          >Project description is required and needs to have at least 5
          characters.</span
        >
      </div>
      <div
        class="form-group"
        ng-class="{'has-error': projectForm.name.$touched && projectForm.name.$invalid}"
      >
        <label>Assign employees</label>
        <multi-employees-select
          model="pdCtrl.filterCriteria.project"
          placeholder="employees"
          provider="pdCtrl.provideEmployees(request)"
        >
        </multi-employees-select>
        <span
          class="help-block"
          ng-show="projectForm.name.$touched && projectForm.name.$invalid"
          >At least one employee has to be assigned.</span
        >
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-primary"
      type="button"
      ng-click="pdCtrl.save()"
      ng-disabled="projectForm.$invalid"
    >
      Save
    </button>
    <button class="btn btn-warning" type="button" ng-click="pdCtrl.cancel()">
      Cancel
    </button>
  </div>
</section>
